* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
body controls background color,text fonts
and text color 
*/
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient( rgb(47,150,163),
    rgb(48,62,143));
    font-family: sans-serif;
    color: white;
} 

/*
"location" class controls "timezone and icon"
 both are combined
*/
.location,
.temperature {
    height: 30vh;
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*
class "temperature" controls the text under weather degree
and F
*/
.temperature{
     flex-direction: column;   
}
/*
class "degree-section span" controls the letter 
F 
*/ 
.degree-section{
    display: flex;
    align-items: center; 
    cursor: pointer;
}
.degree-section span{
    margin: 10px;
    font-size: 30px;   
}
.degree-section h2{
    font-size: 40px;
     
}


