
body {
background-color: antiquewhite;
-webkit-animation: mymove 5s infinite;
animation: mymove 5s infinite;
}
@-webkit-keyframes mymove{
    from{background-color: antiquewhite;}
    to{background-color: blueviolet;}
}
@keyframes mymove{
    from{background-color: antiquewhite;}
    to{background-color: blueviolet;}
}
p{
    color: white
}

